@font-face {
  font-family: 'SingleDay';
  src: url(assets/fonts/FuzzyBubbles-Bold.ttf);
}

@keyframes skewit {
  0% {
    transform: skew(0,0);
  }

  50% {
    transform: skew(1deg, 1deg);
  }

  100% {
    transform: skew(0,0);
  }
}

@keyframe fadeScore {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dannegru {
  background-color: #e9e9e9;
  width: 100%;
  height: 100%;
  color: #000!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'SingleDay'!important;
}

.dannegru h1 {
  font-size: 48px;
}

.dannegru h2 {
  font-size: 36px;
}

.dannegru h3 {
  font-size: 24px;
}

.dannegru p {
  font-size: 18px;
}

.dannegru .card {
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  padding: 40px;
  border: 3px solid #d0d0d0;
  border-radius: 40px;
}

.dannegru .card img {
  height: 300px;
}

.dannegru .card .preview {
  width: 100px;
  height: auto;
}

.dannegru .card .user img {
  width: 30px;
  height: 50px
}
.dannegru .user .label {
  padding:5px;
  border: 2px solid black;
  border-radius: 50%; 
  animation: 5s fadeScore ease-in;
}
.dannegru .user {
  margin: 20px 20px;
}

.dannegru .button-desen {
  cursor: pointer;
  display: flex;
  padding: 10px 30px;
  border-image-source: url('assets/images/sketch_borders.png');
  border-image-slice: 60;
  border-image-width: 10px;
  border-image-outset: 0;
  font-size: 32px;
  justify-content: center;
  border-image-repeat: stretch;
  animation: skewit 2s ease-in infinite;
}
.dannegru .button-desen:hover {
  animation: skewit 0.5s ease-in infinite;
  transform: scale(3);

}

.dannegru .timer {
  margin-top: 100px;
  font-size: 32px;
}

.dannegru .progress-bar {
  width: 50%;
  padding: 5px;

  position: relative;
  border: 3px solid black;
  border-radius: 15px;
}
.dannegru .progress {
  width: 40px;
  height: 10px;
  border-radius: 5px;
  display: block;
  background-color: #000;
  transition: 0.05s ease-out;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titles p {
  padding: 20px!important;
  border-image-source: url('assets/images/sketch_borders.png');
  border-image-slice: 60;
  border-image-width: 10px;
  border-image-outset: 0;
}